django
llama-index
llama-index-vector-stores-pinecone
llama-index-embeddings-openai
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
daphne
psycopg2-binary
dj-database-url
langchain
anthropic
pinecone
langchain-pinecone
langchain
langchain-community
langchain-core
langgraph
langchain-anthropic
langsmith
langchain-aws
langchain-pinecone
pinecone-notebooks
langchain-xai
pydantic
stripe
jinja2
torch
Pillow
nltk==3.9.1
google-api-python-client==2.88.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
python-dateutil==2.8.2