django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
daphne
psycopg2-binary
dj-database-url
langchain
anthropic
pinecone
langchain-pinecone
langchain
langchain-community
langchain-core
langgraph
langchain-anthropic
langsmith
langchain-aws
langchain-pinecone
pinecone-notebooks
langchain-xai
pydantic
deepgram
stripe
jinja2
Pillow
nltk==3.9.1