{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<script src='{% static "js/extra.js" %}'></script>
<link rel="stylesheet" href='{% static "css/extra.css" %}'>

    <div>Profile Settings</div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}