{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<script src='{% static "js/weeki.js" %}'></script>
<script src='{% static "js/edit_weeki.js" %}'></script>
<link rel="stylesheet" href='{% static "css/weeki.css" %}'>

<h2>Edit Weeki</h2>
<form id="editWeekiForm">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <div class="mb-3">
        <label>Category:</label>
        <div class="category-selector">
            {% for category in categories %}
            <button type="button" class="category-button {% if category.id == weeki.category.id %}active{% endif %}" data-category-id="{{ category.id }}">
                <div class="category-icon">
                    <!-- Category icons here (same as in your original code) -->
                </div>
                <span>{{ category.name }}</span>
            </button>
            {% endfor %}
        </div>
        {{ form.category.errors }}
        {{ form.category }}
    </div>

    <div class="mb-3">
        {{ form.content.errors }}
        {{ form.content }}
    </div>

    <div class="mb-3">
        {{ form.favorite.errors }}
        {{ form.favorite }}
    </div>

    <button type="button" id="updateButton" class="btn btn-primary">Update Weeki</button>
    <button type="button" id="deleteButton" class="btn btn-danger">Delete Weeki</button>
</form>


{% endblock %}