{% load static %}
{% load custom_tags %} 

<nav class="menu-bar">
  {% if request.resolver_match.url_name == 'weeki_new' %}

  <div class="saveButton menu-item">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
      <path d="M20 40 L35 55 L60 25" stroke="green" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" fill="none" />
    </svg>
  </div>
  

  
  <div class="recordButton menu-item">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
    <circle cx="40" cy="40" r="35" fill="red" />
  </svg>
  </div>

  
  <div class="closeButton menu-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
      <line x1="20" y1="20" x2="60" y2="60" stroke="#FFE5AD" stroke-width="8" stroke-linecap="round" class="svg-fill"/>
      <line x1="60" y1="20" x2="20" y2="60" stroke="#FFE5AD" stroke-width="8" stroke-linecap="round"/>
    </svg>
  </div>
    

  {% else %}


  
  <a href="{% url 'app:week' %}"  class="menu-item {% active "week" %}">
      <svg viewBox="0 0 80 80">
          <rect class="svg-fill"  x="5" y="5" width="70" height="18" rx="9" ry="9"/>
          <rect class="svg-fill"  x="5" y="31" width="70" height="18" rx="9" ry="9"/>
          <rect class="svg-fill"  x="5" y="57" width="70" height="18" rx="9" ry="9"/>
      </svg>
  </a>
  <!-- <a href="{% url 'app:year' %}" class="menu-item {% active 'year' %}">
      <svg viewBox="0 0 80 80">
          <circle class="svg-fill"  cx="15" cy="15" r="10"/>
          <circle class="svg-fill"  cx="40" cy="15" r="10"/>
          <circle class="svg-fill"  cx="65" cy="15" r="10"/>
          <circle class="svg-fill"  cx="15" cy="40" r="10"/>
          <circle class="svg-fill"  cx="40" cy="40" r="10"/>
          <circle class="svg-fill"  cx="65" cy="40" r="10"/>
          <circle class="svg-fill"  cx="15" cy="65" r="10"/>
          <circle class="svg-fill"  cx="40" cy="65" r="10"/>
          <circle class="svg-fill"  cx="65" cy="65" r="10"/>
      </svg>
  </a> -->
  <a href="{% url 'app:weeki_new' %}"  class="plus menu-item {% active 'weeki' %}">
      <svg viewBox="0 0 80 80">
          <rect class="svg-fill"  x="30" y="5" width="20" height="70" rx="10" ry="10"/>
          <rect class="svg-fill"  x="5" y="30" width="70" height="20" rx="10" ry="10"/>
      </svg>
  </a>
 

          <circle class="svg-fill"  cx="40" cy="15" r="10"/>
        <rect class="svg-fill"  x="20" y="30" width="40" height="20" rx="10" ry="10"/>

        <rect class="svg-fill"  x="5" y="55" width="70" height="20" rx="10" ry="10"/>

          <!-- <rect x="5" y="60" width="70" height="20" rx="7.5" ry="7.5"/> 
      </svg> -->
  
  <a href="{% url 'app:build' %}" class="menu-item {% active 'build' %}">
    <svg viewBox="0 0 80 80">

            <circle class="svg-fill"  cx="40" cy="15" r="10"/>
          <rect class="svg-fill"  x="20" y="30" width="40" height="20" rx="10" ry="10"/>

          <rect class="svg-fill"  x="5" y="55" width="70" height="20" rx="10" ry="10"/>

       
    </a>
   
          {% endif %}

          
</nav>






