{% load static %}
{% load custom_tags %} 

<nav class="menu-bar">
  <a href="{% url 'app:week' %}"  class="menu-item {% active "week" %}">
      <svg viewBox="0 0 80 80">
          <rect class="svg-fill"  x="5" y="5" width="70" height="18" rx="9" ry="9"/>
          <rect class="svg-fill"  x="5" y="31" width="70" height="18" rx="9" ry="9"/>
          <rect class="svg-fill"  x="5" y="57" width="70" height="18" rx="9" ry="9"/>
      </svg>
  </a>
  <!-- <a href="{% url 'app:year' %}" class="menu-item {% active 'year' %}">
      <svg viewBox="0 0 80 80">
          <circle class="svg-fill"  cx="15" cy="15" r="10"/>
          <circle class="svg-fill"  cx="40" cy="15" r="10"/>
          <circle class="svg-fill"  cx="65" cy="15" r="10"/>
          <circle class="svg-fill"  cx="15" cy="40" r="10"/>
          <circle class="svg-fill"  cx="40" cy="40" r="10"/>
          <circle class="svg-fill"  cx="65" cy="40" r="10"/>
          <circle class="svg-fill"  cx="15" cy="65" r="10"/>
          <circle class="svg-fill"  cx="40" cy="65" r="10"/>
          <circle class="svg-fill"  cx="65" cy="65" r="10"/>
      </svg>
  </a> -->
  <a href="{% url 'app:weeki_new' %}"  class="plus menu-item {% active 'weeki' %}">
      <svg viewBox="0 0 80 80">
          <rect class="svg-fill"  x="30" y="5" width="20" height="70" rx="10" ry="10"/>
          <rect class="svg-fill"  x="5" y="30" width="70" height="20" rx="10" ry="10"/>
      </svg>
  </a>
  <!-- <a href="{% url 'app:social' %}"  class="menu-item {% active 'social' %}">
      <svg viewBox="0 0 80 80">

          <circle class="svg-fill"  cx="40" cy="15" r="10"/>
        <rect class="svg-fill"  x="20" y="30" width="40" height="20" rx="10" ry="10"/>

        <rect class="svg-fill"  x="5" y="55" width="70" height="20" rx="10" ry="10"/>

          <!-- <rect x="5" y="60" width="70" height="20" rx="7.5" ry="7.5"/> 
      </svg> -->
  
  <a href="{% url 'app:extra' %}" class="menu-item {% active 'extra' %}">
    <svg viewBox="0 0 80 80">

            <circle class="svg-fill"  cx="40" cy="15" r="10"/>
          <rect class="svg-fill"  x="20" y="30" width="40" height="20" rx="10" ry="10"/>

          <rect class="svg-fill"  x="5" y="55" width="70" height="20" rx="10" ry="10"/>

       
    </a>
    <!-- <a href="{% url 'app:extra' %}" class="menu-item {% active 'extra' %}">
        <svg viewBox="0 0 80 80">
            <rect class="svg-fill"  x="5" y="5" width="70" height="70" rx="10" ry="10"/>
        </svg> -->
      <!-- <svg viewBox="0 0 80 80">
          <rect class="svg-fill"  x="5" y="5" width="70" height="70" rx="10" ry="10"/>
      </svg> -->
  </a>
</nav>



  <!-- <div class="appNavigation">

    <div class="appNavigationElement">
      <a href="{% url 'app:week' %}">Week</a>
    </div>
    <div class="appNavigationElement">
      <a href="{% url 'app:year' %}">Year</a>
    </div>
    {% if user.is_authenticated %}
    <div class="appNavigationElement">
      <a href="{% url 'app:extra' %}">Extra</a>
    </div>
    {% endif %}
    

   
  </div> -->


