{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- favicon -->

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}>
  <link rel="manifest href="{% static 'favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <!-- scripts -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src= '{% static "js/scripts.js" %}'></script>
  <script src='{% static "js/slugify.js" %}'></script>
  <script src='{% static "js/cookies.js" %}'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <script src='{% static "js/api.js" %}'></script>
  <script src='{% static "js/ajax.js" %}'></script>

  <!-- view scripts -->
  {% if app %}



  


  {% endif %}
  <!-- styles -->
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
  <link rel="stylesheet" href='{% static "css/mobile.css" %}'>


  <link rel="stylesheet" href='{% static "css/button.css" %}'>


  {% if app %}

  <!-- view styles -->


  
  {% endif %}
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
{% if title != None and title != '' %}
  {{ title|capfirst }}
{% else %}
  {{ APP_NAME }}
{% endif %}
</title>
</head>
<body>
  {% csrf_token %}
  <header>

    {% if app %}
 
    {% else %}
  <nav>
    <div class="mainLogo">

      <img src="{% static 'images/logos/weeki_logo_text.svg' %}" alt="Weeki Logo">

      
    </div>

    {% endif %}
    
    {% if app %}
      
    {% include 'app_navbar.html' %}
 

    {% else %}

    {% include 'home_navbar.html' %}

    {% endif %}

  </nav>

   
  </header>
  
  <div class="wrapper">
  {% block content %}
  {% endblock %}
  
  </div>

</body>
</html>