
  <div class="homeNavigation">
      <div class="homeNavigationElement"><a href="{% url 'home' %}">Home</a></div>

      <div class="homeNavigationElement"><a href="{% url 'blog:list' %}">Blog</a></div>

      <div class="homeNavigationElement"><a href="{% url 'about' %}">About</a></div>

        <div class="homeNavigationElement"><a href="{% url 'accounts:login' %}">Sign In</a></div>
  
        <div class="homeNavigationElement"><a href="{% url 'accounts:signup' %}">Register</a></div>
      </div>

 
